.App {
  text-align: center;
}

.outer-extra-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vh;
  height: 55vh;
  background: linear-gradient(135deg, #101124, #343861);
  margin: 50px auto;
  border-radius: 100%;
}

.outer-circle {
  position: relative;
  width: 50vh;
  height: 50vh;
  background-color: #151932;
  border-radius: 100%;
}

.mask-left {
  width: 47.5%;
  height: 95%;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: 300;
  background-color: #151932;
  border-radius: 400px 0 0 400px;
}

.sem-right {
  width: 47%;
  height: 94%;
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 200;
  background-color: #FC716C;
  border-radius: 400px 0 0 400px;
  transform-origin: right 50%;
}

.sem-left {
  width: 47%;
  height: 94%;
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 100;
  background-color: #151932;
  border-radius: 0 400px 400px 0;
  transform-origin: left 50%;
}

.inner-circle {
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 100%;
  background-color: #151932;
  top: 5%;
  left: 5%;
  z-index: 500;
}

.time {
  font-size: 16vh;
  text-align: center;
  font-weight: 400;
  color: rgb(206, 203, 203);
  font-family: 'Passion One', 'Times New Roman', Times, serif;
}

@media (max-width:500px) {

  .outer-extra-circle {
      height: 45vh;
      width: 45vh;
  }
  .outer-circle {
      height: 40vh;
      width: 40vh;
  }
  .time {
      font-size: 12.5vh;
  }
}